@{
    ViewData["Title"] = "Reservations";
}
<div class="text-center">
    <br />
    <h5>Fill out the form below to schedule Bliss Photo</h5>
    <br />
    <!--Form for calculations-->
    <form id="calc">
        <br />
        <br />
        <!--Number of hours needed input-->
        <label for="numHours">How long would the photoshoot be?</label>
        <input id="numHours" type="number" />
        <br />
        <!--Disable input box with fixed hourly rate-->
        <label for="rate">Bliss's Hourly Rate: </label>
        <input id="rate" type="number" disabled value="60"/>
        <br />
        <br />
        <!--Button-->
        <button class="btn" type="button" id="btnSubmit">Calculate</button>
        <br />
        <br />
    </form>
    <br />
    <br />
    <!--Output from form inputs-->
    <div id="outputBox">
        <br />
        <h5>Predicted Charge:</h5>
        <p id="output"></p>
        <br />
    </div>
</div>
