@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h3>Living life through memories</h3>
</div>
<div class="intro text-left">
    <div class="content">
        <h3>Behind the camera</h3>
        <p>Hey there! I'm Brenna and I love taking pictures!
        My passion started when I was in high school and I took
        a photography class to learn more. Well, needless to say,
        it took my heart and I've loved taking photos ever since!
        I focus mostly on portraits and nature photography and love
        working with families!
        </p>
    </div>
    <div class="image">
        <img src="~/img/lilypads.jpg" height="400px"/>
    </div>
</div>
<div class="desc text-right">
    <div class="content2">
        <h3>Favorite shots</h3>
        <p>I've taken thousands of photos over the years, but here are
        a few of the ones that make me so happy to be doing what I
        do. Let me know what you think of them! Which are your favorites?
        To me, a picture is valuable when there's a memory attached to it.
        Most of these pictures were taken around close friends and family
        and I love looking back on them!
        </p>
    </div>
    <div class="image">
        <img src="~/img/pinkflowergroup.jpg" height="400px" />
    </div>
</div>
<div class="extension">
    <br />
    <br />
</div>
<div class="image-bottom">
    <img src="~/img/pinkflowersmall.jpg" height="400px" />
    <img src="~/img/christmas.jpg" height="400px" />
</div>